# Machine Learning Technologies Assignment

### Import Libraries

In [19]:
import numpy as np
import nltk
import string
import re
from datetime import datetime


import matplotlib.pyplot as plt

import pandas as pd
pd.set_option('display.max_colwidth', 100)

import spacy

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
# from googletrans import Translator
from google_trans_new import google_translator  


##Model Library

### Variable Initialization

### Load Data

In [20]:
f = open('Dataset/mediaeval-2015-trainingset.txt', encoding = "UTF-8").read().split('\n')
cols = f[0].split('\t')
f_data = []
for tweet in f:
    t = tweet.split('\t')
    f_data.append(t)
raw_df = pd.DataFrame(f_data, columns=cols)
raw_df = raw_df.iloc[1:]
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14483 entries, 1 to 14483
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweetId     14483 non-null  object
 1   tweetText   14483 non-null  object
 2   userId      14483 non-null  object
 3   imageId(s)  14483 non-null  object
 4   username    14483 non-null  object
 5   timestamp   14483 non-null  object
 6   label       14483 non-null  object
dtypes: object(7)
memory usage: 792.2+ KB

In [21]:
raw_df.head()

,tweetId,tweetText,userId,imageId(s),username,timestamp,label
1,263046056240115712,¬øSe acuerdan de la pel√≠cula: ‚ÄúEl d√≠a despu√©s de ma√±ana‚Äù? Me recuerda a lo que est√° pasando con e...,21226711,sandyA_fake_46,iAnnieM,Mon Oct 29 22:34:01 +0000 2012,fake
2,262995061304852481,"@milenagimon: Miren a Sandy en NY! Tremenda imagen del hurac√°n. Parece el ""D√≠a de la Independen...",192378571,sandyA_fake_09,CarlosVerareal,Mon Oct 29 19:11:23 +0000 2012,fake
3,262979898002534400,"Buena la foto del Hurac√°n Sandy, me recuerda a la pel√≠cula D√≠a de la Independencia #ID4 #Sandy ...",132303095,sandyA_fake_09,LucasPalape,Mon Oct 29 18:11:08 +0000 2012,fake
4,262996108400271360,Scary shit #hurricane #NY http://t.co/e4JLBUfH,241995902,sandyA_fake_29,Haaaaarryyy,Mon Oct 29 19:15:33 +0000 2012,fake
5,263018881839411200,My fave place in the world #nyc #hurricane #sandy #statueofliberty üóΩ http://t.co/Ex61doZk,250315890,sandyA_fake_15,princess__natt,Mon Oct 29 20:46:02 +0000 2012,fake

### Extract features from timestamp

In [22]:
# remove typo from timestamp
df = raw_df.copy()
df['timestamp'] = df['timestamp'].apply(lambda x: re.sub(': ',':',x))
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [23]:
df["DayOfMonth"] = df["timestamp"].dt.day
df["DayOfYear"] = df["timestamp"].dt.dayofyear
df["Month"] = df["timestamp"].dt.month
df['Quarter'] = df['timestamp'].dt.quarter
df['WeekOfYear'] = df['timestamp'].dt.weekofyear
df["Year"] = df["timestamp"].dt.year
df = df.drop(["timestamp"],axis=1)

C:\ProgramData\Anaconda3\envs\mlt\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14483 entries, 1 to 14483
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweetId     14483 non-null  object
 1   tweetText   14483 non-null  object
 2   userId      14483 non-null  object
 3   imageId(s)  14483 non-null  object
 4   username    14483 non-null  object
 5   label       14483 non-null  object
 6   DayOfMonth  14483 non-null  int64
 7   DayOfYear   14483 non-null  int64
 8   Month       14483 non-null  int64
 9   Quarter     14483 non-null  int64
 10  WeekOfYear  14483 non-null  int64
 11  Year        14483 non-null  int64
dtypes: int64(6), object(6)
memory usage: 1.3+ MB

In [25]:
df.head()

,tweetId,tweetText,userId,imageId(s),username,label,DayOfMonth,DayOfYear,Month,Quarter,WeekOfYear,Year
1,263046056240115712,¬øSe acuerdan de la pel√≠cula: ‚ÄúEl d√≠a despu√©s de ma√±ana‚Äù? Me recuerda a lo que est√° pasando con e...,21226711,sandyA_fake_46,iAnnieM,fake,29,303,10,4,44,2012
2,262995061304852481,"@milenagimon: Miren a Sandy en NY! Tremenda imagen del hurac√°n. Parece el ""D√≠a de la Independen...",192378571,sandyA_fake_09,CarlosVerareal,fake,29,303,10,4,44,2012
3,262979898002534400,"Buena la foto del Hurac√°n Sandy, me recuerda a la pel√≠cula D√≠a de la Independencia #ID4 #Sandy ...",132303095,sandyA_fake_09,LucasPalape,fake,29,303,10,4,44,2012
4,262996108400271360,Scary shit #hurricane #NY http://t.co/e4JLBUfH,241995902,sandyA_fake_29,Haaaaarryyy,fake,29,303,10,4,44,2012
5,263018881839411200,My fave place in the world #nyc #hurricane #sandy #statueofliberty üóΩ http://t.co/Ex61doZk,250315890,sandyA_fake_15,princess__natt,fake,29,303,10,4,44,2012

### Clean and Translate tweet Text

In [26]:
#remove hyperlink
df['tweetText'] = df['tweetText'].apply(lambda x: re.sub(r'\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*', '',x))

In [66]:
translator = google_translator()
df['tweetText'][14000:] = df['tweetText'][14000:].apply(lambda x: translator.translate(str(x),lang_tgt='en') )

C:\ProgramData\Anaconda3\envs\mlt\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [68]:
df['tweetText'][14000:]

14001                                            Redditor feels he's found MH370. Middle of Malacca Strait.
14002    Hoax bro, even though there are pictures / videos ... @ SayfulL46: MH370 Found In Near Bermuda T...
14003    I check the headlines like 20 times a day hoping to see that MH370 is found, this is the best he...
14004                                                                           ‚Äú@270512: LMFAO !!!!  found
14005                            Missing MH370 captures found at taiwan forest by the student over there...
                                                        ...
14479                               @BobombDom *slaps TweetDeck with the PigFish http: \/\/t.co\/pyHcJn0jwA
14480    New Species of Fish found in Brazil or just Really good Photoshop??? What You Think? ÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩ...
14481                                             What do we call this? #pigFISH http: \/\/t.co\/4Bml62OD15
14482                              Pigfish? And after the fish is the pig fish ???? http: / t.co hqzwghydef
14483               For those who can't decide between fish or meat.....#Pigfish http: \/\/t.co\/5JBtF54cmg
Name: tweetText, Length: 483, dtype: object

In [67]:
df.head()

,tweetId,tweetText,userId,imageId(s),username,label,DayOfMonth,DayOfYear,Month,Quarter,WeekOfYear,Year
1,263046056240115712,"Do you remember the movie: ""The day after tomorrow""? It reminds me of what is happening with Hur...",21226711,sandyA_fake_46,iAnnieM,fake,29,303,10,4,44,2012
2,262995061304852481,"@Milenagimon: Look at Sandy in NY! Tremendous image of the hurricane. It seems the ""Day of Indep...",192378571,sandyA_fake_09,CarlosVerareal,fake,29,303,10,4,44,2012
3,262979898002534400,"Good Hurricane Sandy's photo, reminds me of the independence day movie # id4 #sandy",132303095,sandyA_fake_09,LucasPalape,fake,29,303,10,4,44,2012
4,262996108400271360,Scary Shit #Hurricane #No,241995902,sandyA_fake_29,Haaaaarryyy,fake,29,303,10,4,44,2012
5,263018881839411200,My fave place in the world #nyc #hurricane #sandy #statueofliberty üóΩ,250315890,sandyA_fake_15,princess__natt,fake,29,303,10,4,44,2012

In [69]:
df.to_csv('Translated_Training.csv')

In [ ]:
tr_df = pd.read_csv('Translated_Training.csv')